In [3]:
#paython basics 
# q1
firstname=input("please input your first name" )
lastname=input("please input your last name" )
print(lastname,firstname)

please input your first nameamr
please input your last nameafifi
afifi amr

In [4]:
#q2
n=5
sum=(n+(n*11)+(n*111))
print(sum)

615

In [93]:
#q6
x=str(input())
word= x
n=len(x)
print(word[0],word[2],word[n-2])

hello team
h l a

In [182]:
#q7
price=int(input())
if price>=500:
  print(price/2)
elif price >= 200:
 print (price*.7)
elif price < 200:
   print(price*.9)

499
349.29999999999995

In [202]:
#q3
x=int(input())
if (x%2) == 0:
  print("even")
else:
  print("odd")

60
even

In [234]:
#q4
y=int(input())
x=range(2000,3200)
for y in x:
  sum==y%7
  if sum==0:
    print(sum)
else:
  print("error")

70
error